body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.himno-list {
    list-style: none;
    padding: 0;
}

.himno-list li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.himno-list li:hover {
    background-color: #e1bee7;
}

h2 {
    color: #6a1b9a;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b1fa2;
}


p {
    text-align: center;
    line-height: 1.6; /* Esto mejora la legibilidad */
    margin: 10px 0;   /* Añade espacio entre los párrafos */
}
